@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.mainbody {
  background: url(https://i.pinimg.com/736x/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg) no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  display: grid;
  justify-content: center;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: 'Lobster', cursive;
  font-size: 20px;

}

.navbar a {
    color: white;
}

h1 {
  color: gold;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  color: darkorange;
  text-align: center;
  font-family: 'Lobster', cursive;
}

spen {
  font-size: 100%;
}

.stars {
  text-align: center;
  color: white;
}

#MyId {
  text-align: left;
  color:  chartreuse;
}

#My_Id {
  text-align: center;
  color: yellow;
}

#My_I_d {
  text-align: center;
  color: orange;
}

#My_Id_ {
  text-align: center;
  color:  green;
}

M_y_I_d_ {
  color: cyan;
}

#Events {
  color:  red;
}

p {
  font-family: 'Dancing Script', cursive;
  color: rgb(red, green, blue);
  font-size: 28px;
}

h3 {
  color:  aquamarine;
  font-family: 'Itim', cursive;
  font-size: 33px;
}

h4 {
  color:  azure;
  font-family: 'Italianno', cursive;
  font-size: 33px;
}
 
h5 {
  color:  blanchedalmond;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

#about {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.thumbnails {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline;
  float: left;
  margin: 20px;
}

.menuitem {
  display: inline;
}

.About {
  width:70%; 
  height:50%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #3f729b;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

#Contact {
  text-align: center;
}

#Reservation {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#Events {
  text-align: center;
}

#para {
  color:  burlywood;
}

#parap {
  color:  cyan;
}

.P {
  height:50%;
  width:50%; 
} 

.Gallery {
  height:45%;
  width:45%;
}

.Re {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.blog {
 color: wheat;
 text-align: left;
}

.pic {
  height:50%;
  width:50%;
  text-align: center;
}

.al {
  text-align: center;
}

#blogs {
  color: cyan;
}
.row.content {height: 450px}

@media screen and (max-width: 767px) 